/* général */
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.main-content, body, html {
  height: 100vh;
  background-color: #ffebee;
}

ul.main-nav>li>a {
  font-size: 1.5em;
}

#mobile>li>a {
  color: white;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: auto;
  position: relative;
  bottom: 0;
}

.footer-liens {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer>ul>li>a {
  font-size: 1.2em;
  padding: 20px;
}

.block-text {
  font-size: 1.3em;
  text-align: justify;
}

.title-page>h1 {
  font-size: 3.5em;
  font-family: 'Satisfy', cursive;
}


/* page accueil */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/hero-img.jpg");
  height: 55%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text>p, a {
  font-size: 1.5em;
  color: white;
}

.hero-text>h1 {
  font-family: 'Satisfy', cursive;
  font-size: 6em;
}

.infos {
  padding-top: 20px;
  padding-bottom: 20px;
}

hr {
  width: 80%;
  height: 3px;
  margin-top: 0;
  margin-bottom: 0;
}

#ouverture {
  height: 100px;
  display: flex;
  justify-content: center;
}

#ouverture>h2 {
  font-size: 3em;
  font-family: 'Satisfy', cursive;
  padding: 10px;
  margin: auto;
}

.call-to-order {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.call-to-order>h2 {
  font-size: 2em;
}

.call-to-order>.btn {
  width: 62%;
  margin-top: 20px;
  font-size: 1.3em;
}

.affichage-horaire {
  margin-top: 20px;
}

.horloge {
  font-size: 100px;
}

#horaire>li {
  font-size: 1.3em;
}



/* page menu */
.btn-navigation {
  font-size: 1.3em;
  width: 20%;
  margin-bottom: 30px;
}

.burger>h2 {
  font-size: 1.7em;
}

.div-dispo>p {
  font-size: 1.7em;
}

.carte {
  display: flex;
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.carte-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.carte-img>img {
  width: 25vw;
  border-radius: 20px;
}


/* page order */
.order {
  width: 50%;
  display: flex;
  justify-content: center;
}

.order>.btn {
  width: 62%;
  font-size: 1.3em;
}

.main {
  height: 80%;
}

.btn-group {
  min-height: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* page history */
#img-histoire {
  float: left;
  max-width: 40%;
  margin-right: 15px;
}

.img-vignette {
  max-width: 100%;
}



/* page contact */
.section {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas :   "A B"
                          "C C";
}

.contact {
  grid-area : A;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.horaire {
  grid-area : B;
  display: flex;
  justify-content: center;
  margin-right: 20px;
}

.map {
  grid-area : C;
}

.contact>a, .contact>p {
  font-size: 1.3em;
}

.div-icone {
  margin-right: 20px;
}





/* page bravo */
.display {
  padding: 10px;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display>p {
  font-size: 3.5em;
  font-family: 'Satisfy', cursive;
}





/* Responsivité */
@media only screen and (max-width: 1300px){
  .hero-text>h1 {
    font-size: 3em;
  }
  #ouverture>h2 {
    font-size: 2em;
  }
  .div-icone {
    display: flex;
    justify-content: center;
  }
  .div-horaire {
    display: flex;
    justify-content: center;
  }
  /* page menu */
  .btn-navigation {
    width: 40%;
  }
  .title-page>h1 {
    font-size: 3em;
  }
  .carte {
    display: block;
  }
  .carte-img {
    margin-right: 0;
  }
  .carte-img>img {
    width: 40vw;
  }
  #img-histoire {
    max-width: 50%;
  }
  .display>p {
    font-size: 3em;
    text-align: center;
  }

}

@media only screen and (max-width: 1000px){
  .burger, .div-dispo {
    display: flex;
    justify-content: center;
  }
  #img-histoire {
    max-width: 50%;
  }
}

@media only screen and (max-width: 800px){
  #img-histoire {
    float: none;
    max-width: 100%;
    margin-right: 0;
  }
  .display>p {
    font-size: 3.5em;
    font-family: 'Satisfy', cursive;
  }
  .section {
    grid-template-columns: 1fr;
    grid-template-areas :   "A"
                            "C"
                            "B";
  }
  .horaire {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


@media only screen and (max-width: 500px){
  .hero-text>h1 {
    font-size: 2em;
  }
  .hero-image {
    height: 40%;
  }
  #ouverture>h2 {
    font-size: 1.7em;
  }
  .hero-text>p, a {
    font-size: 1.3em;
  }
  .call-to-order>h2 {
    font-size: 1.6em;
  }
  .call-to-order>.btn {
    width: 100%;
    font-size: 1.2em;
  }
  .div-icone {
    display: flex;
    justify-content: center;
  }
  .div-horaire {
    display: flex;
    justify-content: center;
  }
  /* page menu */
  .btn-navigation {
    font-size: 1.2em;
    width: 100%;
  }
  .title-page>h1 {
    font-size: 2.8em;
  }
  .carte-img>img {
    width: 80vw;
  }
  .burger, .div-dispo {
    display: flex;
    justify-content: center;
  }
  /* page order */
  .btn-group {
    min-height: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .order {
    width: 95%;
  }

  .order>.btn {
    width: 100%;
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  .display>p {
    font-size: 2.8em;
  }


}
